pipfile
pipfile.lock

.DS_STORE

# Virtualenv related
bin/
include/
pip-selfcheck.json

# Django related 
# src/<yourproject>/settings/local.py
# static-cdn/  # any collected static files 
.pipenv
env

# mypy
.mypy_cache/