{% extends 'base.html' %}
{% load static %}
{% block body %}
		
	<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_6.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Checkout</h1>
			<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Checkout</span></p>
			{{form.errors}}
          </div>
        </div>
      </div>
	</div>
		
	<section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 ftco-animate">
				<form action="." method="POST" id="AddressForm" class="billing-form bg-light p-3 p-md-5">{% csrf_token %}
					<h3 class="mb-4 billing-heading">Billing Details</h3>
	          	<div class="row align-items-end">
	          		
                <div class="w-100"></div>
		            <div class="hideBilling row">
							<div class="col-md-12">
									<div class="form-group">
										<label for="id_country">State / Country</label>
										<div class="select-wrap">
									  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
									  {{ form.country }}
									</div>
									</div>
								</div>
								<div class="w-100"></div>
								<div class="col-md-6">
									<div class="form-group">
									<label for="id_street_address">Street Address</label>
								  <!-- <input type="text" class="form-control" placeholder="House number and street name"> -->
								  {{form.street_address}}
								</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="id_appartment">Appartment</label>
								  <!-- <input type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)"> -->
								  {{form.appartment}}
								</div>
								</div>
								<div class="w-100"></div>
								<div class="col-md-6">
									<div class="form-group">
									<label for="id_city">Town / City</label>
								  <!-- <input type="text" class="form-control" placeholder=""> -->
								  {{form.city}}
								</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="id_zip">Postcode / ZIP *</label>
								  <!-- <input type="text" class="form-control" placeholder=""> -->
								  {{form.zip}}
								</div>
								</div>
								<div class="w-100"></div>
								<div class="col-md-6">
								<div class="form-group">
									<label for="id_phone">Phone</label>
								  <!-- <input type="text" class="form-control" placeholder=""> -->
								  {{form.phone}}
								</div>
							  </div>
							
					</div>
					<div class="col-md-12">
							{% if default_billing_address %}
							<div class="form-group">
							<!-- <input type="text" class="form-control" placeholder=""> -->
							{{form.use_default_billing}}
							<label for="id_use_default_billing">Use Default Billing Address</label>
							</div>
							{% else %}
							<div class="form-group">
							<!-- <input type="text" class="form-control" placeholder=""> -->
							{{form.set_default_billing}}
							<label for="id_set_default_billing">Set as Default Billing Address</label>
							</div>
							{% endif %}
							<div class="form-group">
								<!-- <input type="text" class="form-control" placeholder=""> -->
								{{form.same_billing_address}}
								<label for="id_same_billing_address">Shipping Address same Billing Address</label>
							</div>
						</div>
			</br>
			
			<div class="shipSection row">
					<div class="col-md-12 ship">
							<h3 class="my-4 billing-heading">Shipping Details</h3>
								<div class="form-group">
									<label for="id_shipping_country">State / Country</label>
									<div class="select-wrap">
								  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
								  {{ form.shipping_country }}
								</div>
								</div>
							</div>
							<div class="w-100"></div>
							<div class="col-md-6">
								<div class="form-group">
								<label for="id_shipping_street_address">Street Address</label>
							  <!-- <input type="text" class="form-control" placeholder="House number and street name"> -->
							  {{form.shipping_street_address}}
							</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="id_shipping_appartment">Appartment</label>
							  <!-- <input type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)"> -->
							  {{form.shipping_appartment}}
							</div>
							</div>
							<div class="w-100"></div>
							<div class="col-md-6">
								<div class="form-group">
								<label for="id_shipping_city">Town / City</label>
							  <!-- <input type="text" class="form-control" placeholder=""> -->
							  {{form.shipping_city}}
							</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="id_shipping_zip">Postcode / ZIP *</label>
							  <!-- <input type="text" class="form-control" placeholder=""> -->
							  {{form.shipping_zip}}
							</div>
							</div>
							<div class="w-100"></div>
							<div class="col-md-6">
							<div class="form-group">
								<label for="id_shipping_phone">Phone</label>
							  <!-- <input type="text" class="form-control" placeholder=""> -->
							  {{form.shipping_phone}}
							</div>
						</div>
						
				</div>
				<div class="col-md-12">
						{% if default_shipping_address %}
						<div class="form-group">
						<!-- <input type="text" class="form-control" placeholder=""> -->
						{{form.use_default_shipping}}
						<label for="id_use_default_shipping">Use Default Shipping Address</label>
						</div>
						{% else %}
						<div class="form-group">
						<!-- <input type="text" class="form-control" placeholder=""> -->
						{{form.set_default_shipping}}
						<label for="id_set_default_shipping">Set as Default Shipping Address</label>
						</div>
						{% endif %}
					</div>
	            </div>
	          </form><!-- END -->



	          <div class="row mt-5 pt-3 d-flex">
	          	<div class="col-md-6 d-flex">
	          		<div class="cart-detail cart-total bg-light p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Cart Total</h3>
							<p class="d-flex total-price">
								<span>Total</span>
								<span>${{order.get_total}}</span>
							</p>
					</div>
	          	</div>
	          	<div class="col-md-6">
	          		<div class="cart-detail bg-light p-3 p-md-4">
						  <h3 class="billing-heading mb-4">Payment Method</h3>
						  {% for value, name in form.fields.payment_option.choices %}
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
										<label>
											<input form="AddressForm" id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="mr-2" required>{{name}}
										</label>
									</div>
								</div>
							</div>
							{% endfor %}
							<div class="form-group">
								<div class="col-md-12">
									<div class="checkbox">
										<label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
									</div>
								</div>
							</div>
							<p><input type="submit" form="AddressForm" class="btn btn-primary py-3 px-4" value="Place an order" /></p>
						</div>
	          		</div>
	          	</div>
          	</div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->

    <section class="ftco-section bg-light">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big">Products</h1>
            <h2 class="mb-4">Related Products</h2>
          </div>
        </div>    		
    	</div>
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-sm col-md-6 col-lg ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'images/product-1.jpg' %}" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Young Woman Wearing Dress</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>$120.00</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-sm col-md-6 col-lg ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'images/product-2.jpg' %}" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Young Woman Wearing Dress</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>$120.00</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-sm col-md-6 col-lg ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'images/product-3.jpg' %}" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Young Woman Wearing Dress</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>$120.00</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-sm col-md-6 col-lg ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'images/product-4.jpg' %}" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Young Woman Wearing Dress</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>$120.00</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

		<section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center py-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
            	<h1 class="big">Subscribe</h1>
              <h2>Subcribe to our Newsletter</h2>
              <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-8">
					<form action="{% url 'index' %}" method="POST" class="subscribe-form">
						{% csrf_token %}
						<div class="form-group d-flex">
						  <input type="text" name="email_subscription" class="form-control" placeholder="Enter email address">
						  <input type="submit" value="Subscribe" class="submit px-3">
						</div>
					  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
	</section>
	
	{% block extra_script %}
	<script>
			var hideable_shipping_form = $('.shipSection');
			var hideable_billing_form = $('.hideBilling');
			var use_default_shipping = document.querySelector("input[name=same_billing_address]");
			var use_default_billing = document.querySelector("input[name=use_default_billing]");
			use_default_shipping.addEventListener('change', function() {
			  if (this.checked) {
				hideable_shipping_form.hide();
			  } else {
				hideable_shipping_form.show();
			  }
			})
			use_default_billing.addEventListener('change', function() {
			  if (this.checked) {
				hideable_billing_form.hide();
			  } else {
				hideable_billing_form.show();
			  }
			})
			</script>

  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
	{% endblock %}


    
{% endblock %}