{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg_6.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-0 bread">Request Refund</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Refund</span></p>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <main style="max-width: 60%; margin: 0 auto">
    <div class="container">

    <h2>Request Refund</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type='submit' class='btn btn-primary mt-3'>Submit</button>
    </form>

    </div>
  </main>
  </section>

{% endblock body %}